# Environment variables for the job-api-postgres-pipeline
ADZUNA_APP_ID = 
ADZUNA_APP_KEY = 

# Database connection settings
DB_HOST = 
DB_PORT = 
DB_NAME = 
DB_USER = 
DB_PASSWORD = 

# Database schema and table settings
DB_SCHEMA = 
DB_TABLE = 
